.share-list-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-list-modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
}

.share-form {
    display: flex;
    margin-bottom: 10px;
}

.share-form input {
    flex-grow: 1;
    margin-right: 10px;
}
